@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */

.app-wrap {
  width: 55%;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 1023px) {
  .app-wrap {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .app-wrap {
    width: 100%;
  }
}