.block {
    border: 1px solid white;
    border-radius: 4px;
}

.block legend {
    padding: 0 4px;
}

.blockCyan {
    border-color: #9EF0FF;
    color: #9EF0FF;
}

.blockPurple {
    border-color: #664BE8;
    color: #664BE8;
}

.blockFuccia {
    border-color: #FF0099;
    color: #FF0099;
}

.blockOrange {
    border-color: #E8742B;
    color: #E8742B;
}