.logoWrapper {
    margin: 0.5rem 0.8rem;
}

.block {
    border: 1px solid white;
    border-radius: 4px;
}

.blockCyan {
    border-color: #9EF0FF;
}

.blockPurple {
    border-color: #664BE8;
}

.blocFuccia {
    border-color: #FF0099;
}

.blocOrange {
    border-color: #E8742B;
}

.mainGrid {
    margin: 2rem;
}