.menuItem {
    color: #fff900;
    letter-spacing: 2px;
    font-family: 'NixieOne' !important;
    text-shadow: 0 0 5px #fff900, 0 0 10px #ff6c00;
    padding: 24px 0;
}

.menuLogo {
    align-self: flex-end;
}

.initBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemList {
    align-self: flex-start;
    list-style: none;
    padding: 0;
    text-align: center;
}